.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dotted mediumblue; 
    z-index: -1;
}
.nav{
    list-style: none;
    display: inline-flex;
    margin-top: 50px; 
    text-decoration: none;
}
.navitem{
    margin-right: 50px;
    cursor: pointer;
    font-weight: bold;

}
.navitem:active{
    color: blue;
}
.logo{
    margin-top: 35px;
    text-decoration: none;
    font-weight:500;
    font-size: 30px;
    color: black;
    margin-left: 30px;
}
.demo{
    height: 40px;
    width:120px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color:mediumblue;
    color:white;
    border: 1px solid;
    border-color:mediumblue;
    border-radius: 10px;
    cursor: pointer;
}
.demo:hover{
    background-color: mediumblue;
}


.hamburger{
    font-size: 40px;
    margin-top: 30px;
    margin-right: 10px;
    z-index: 1;
}
.hamburger:hover{
    cursor: pointer;
    color: red;
}

@media only screen and (min-width: 900px) {
     .hamburger{
        display: none;
    }
    
}

@media only screen and (max-width: 900px) {
    
    .nav{
    display: flex;
    flex-direction: column;
    }
      .demo{
            display: none;
        }
        .container{
            display: flex;
            justify-content: space-between; 
        }
        .navitem{
            color: white;
        }

}
